<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/menu.xsd">
    <menu>
        <add id="DarshilTech_SmsNotification::sms_template"
            title="SMS Templates"
            module="DarshilTech_SmsNotification"
            sortOrder="10"
            parent="Magento_Backend::marketing_communications"
            action="smsnotification/template/index"
            resource="DarshilTech_SmsNotification::sms_template" />
        <add id="DarshilTech_SmsNotification::sms_log"
            title="SMS Logs"
            module="DarshilTech_SmsNotification"
            sortOrder="20"
            parent="Magento_Backend::marketing_communications"
            action="smsnotification/smslog/index"
            resource="DarshilTech_SmsNotification::sms_log" />
    </menu>
</config>